---
domain: www.nextcloud.dannyhub.de

# Nextcloud ini settings
nextcloud_version: "32.0.5"
nextcloud_webroot: /var/www/nextcloud
nextcloud_download_url: "https://download.nextcloud.com/server/releases/nextcloud-{{ nextcloud_version }}.tar.bz2"
nextcloud_data_dir: /var/www/nextcloud/data
nextcloud_admin_name: admin
nextcloud_admin_pwd: '5cD98fghL7'

# Nextcloud Database settings
nextcloud_db_backend: mysql
nextcloud_db_host: localhost
nextcloud_db_name: nextcloud_db
nextcloud_db_user: nextcloud_db_user
nextcloud_db_password: "{{ vault_nextcloud_db_password }}" 


# config.php settings
nextcloud_config_settings:
  - { name: 'default_phone_region', value: 'DE' } 
  - { name: 'memcache.local', value: '\OC\Memcache\APCu' }
  - { name: 'memcache.distributed', value: '\OC\Memcache\Redis' }
  - { name: 'maintenance_window_start', value: '1' }

nextcloud_redis_settings:
  - { name: 'redis host', value: '/var/run/redis/redis-server.sock' }
  - { name: 'redis port', value: 0 }
  - { name: 'redis timeout', value: 0.0 }
  - { name: 'memcache.locking', value: '\OC\Memcache\Redis' }
  
nextcloud_trusted_domain: 
  - "{{ domain }}"
  - localhost

# MariaDB settings
mariadb_remove_remote_root: true
mariadb_remove_test_database: true
mariadb_remove_anonymous_users: true

# PHP settings
php_version: "8.3"

