---
# Packages
basic_packages:
  - gnupg
  - gnupg2
  - bzip2
  - pigz
  - lsb-release
  - wget
  - imagemagick
  - libmagickcore-7.q16-10-extra
  - curl
  - rsyslog
  - dialog
  - apt-utils
  - cron
  - ca-certificates
  - ubuntu-keyring

nextcloud_components:
  - nginx
  - mariadb-server
  - python3-pymysql

redis_packages:
  - php-fpm
  - php-gd
  - php-curl
  - php-xml
  - php-zip
  - php-intl
  - php-mbstring
  - php-bz2
  - php-json
  - php-apcu
  - php-imagick
  - php-gmp
  - php-bcmath
  - php-redis
  - php-mysql

# Users
acme_user: letsencrypt

# Web
web_user: www-data
web_group: www-data

# Paths
acme_webroot: /var/www/letsencrypt
tls_base_dir: /etc/letsencrypt

# PHP
php_version: "8.4"
php_fpm_service: "php{{ php_version }}-fpm"
php_fpm_pool_conf: "/etc/php/{{ php_version }}/fpm/pool.d/www.conf"
php_fpm_ini: "/etc/php/{{ php_version }}/fpm/php.ini"
php_cli_ini: "/etc/php/{{ php_version }}/cli/php.ini"

php_fpm_env_vars:
  - HOSTNAME
  - TMP
  - TMPDIR
  - TEMP
  - PATH

php_fpm_ini_settings:
  - { regexp: '^;?cgi\.fix_pathinfo\s*=.*', line: 'cgi.fix_pathinfo=0' }
  - { regexp: '^memory_limit\s*=.*', line: 'memory_limit = 512M' }
  - { regexp: '^;?opcache\.enable\s*=.*', line: 'opcache.enable=1' }
  - { regexp: '^;?opcache\.enable_cli\s*=.*', line: 'opcache.enable_cli=1' }
  - { regexp: '^;?opcache\.memory_consumption\s*=.*', line: 'opcache.memory_consumption=128' }
  - { regexp: '^;?opcache\.interned_strings_buffer\s*=.*', line: 'opcache.interned_strings_buffer=32' }
  - { regexp: '^;?opcache\.max_accelerated_files\s*=.*', line: 'opcache.max_accelerated_files=10000' }
  - { regexp: '^;?opcache\.revalidate_freq\s*=.*', line: 'opcache.revalidate_freq=60' }
  - { regexp: '^;?opcache\.save_comments\s*=.*', line: 'opcache.save_comments=1' }

php_fpm_ini_cli:
  - { regexp: '^;?cgi\.fix_pathinfo\s*=.*', line: 'cgi.fix_pathinfo=0' }
  - { regexp: '^apc\.enable_cli\s*=.*',     line: 'apc.enable_cli=1' }

# MariaDB hardening
login_unix_socket: /run/mysqld/mysqld.sock
mysql_remove_remote_root: true
mysql_remove_anonymous_users: true
mysql_remove_test_database: true

# Firewall
ufw_allow_rules:
  - { name: "SSH",  port: 22,  proto: "tcp" }
  - { name: "HTTP", port: 80,  proto: "tcp" }
  - { name: "HTTPS", port: 443, proto: "tcp" }