- name: Install required packages
  become: true
  ansible.builtin.apt:
    name: "{{ setup_homeserver_packages }}"
    state: present
    update_cache: true
    cache_valid_time: "{{ package_cache_valid_time }}"

- name: Check if rootless user is present
  become: true
  ansible.builtin.getent:
    database: passwd
    key: "{{ rootless_user }}"
    fail_key: true

- name: Enable linger for "{{ rootless_user }}"
  become: true
  ansible.builtin.command:
    argv:
      - /usr/bin/loginctl
      - enable-linger
      - "{{ rootless_user }}"
  args:
    creates: "/var/lib/systemd/linger/{{ rootless_user }}"
