---
- name: Install Nginx
  become: true
  ansible.builtin.package:
    name: nginx
    state: present
    update_cache: true

- name: Ensure Nginx is running and enabled
  become: true
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: true
