---
- name: Install MariaDB server
  become: true
  ansible.builtin.package:
    name: 
      - mariadb-server
      - python3-pymysql
    state: present
    update_cache: true

- name: Ensure MariaDB is running and enabled
  become: true
  ansible.builtin.service:
    name: mariadb
    state: started
    enabled: true