---
- name: Ensure root uses unix_socket authentication
  become: true
  community.mysql.mysql_user:
    name: root
    host: localhost
    plugin: unix_socket
    state: present
    login_unix_socket: "{{ mariadb_socket }}"

- name: Remove remote root access
  become: true
  community.mysql.mysql_query:
    query: >
      DELETE FROM mysql.user
      WHERE User='root'
      AND Host NOT IN ('localhost','127.0.0.1','::1');
    login_unix_socket: "{{ mariadb_socket }}"
  when: mariadb_remove_remote_root | bool
  notify: Reload mariadb

- name: Remove test database
  become: true
  community.mysql.mysql_db:
    name: test
    state: absent
    login_unix_socket: "{{ mariadb_socket }}"
  when: mariadb_remove_test_database | bool

- name: Remove anonymous users
  become: true
  community.mysql.mysql_user:
    name: ""
    state: absent
    host_all: true
    login_unix_socket: "{{ mariadb_socket }}"
  when: mariadb_remove_anonymous_users | bool
  notify: Reload mariadb

- name: Deploy MariaDB configuration
  become: true
  ansible.builtin.template:
    src: mariadb/50-server.cnf.j2
    dest: /etc/mysql/mariadb.conf.d/50-server.cnf
    owner: root
    group: root
    mode: '0644'
  notify: Reload mariadb