---
- name: Ensure PHP-FPM pool env vars are not commented
  become: true
  ansible.builtin.replace:
    path: "{{ php_fpm_pool_conf }}"
    regexp: '^;\s*(env\[{{ item }}\]\s*=.*)$'
    replace: '\1'
  loop: "{{ php_fpm_env_vars }}"

- name: Configure PHP-FPM php.ini settings
  become: true
  ansible.builtin.lineinfile:
    path: "{{ php_fpm_ini }}"
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
  loop: "{{ php_fpm_ini_settings }}"
  notify: Restart php-fpm
    
- name: Configure PHP CLI php.ini
  become: true
  ansible.builtin.lineinfile:
    path: "{{ php_cli_ini }}"
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    state: present
  loop: "{{ php_fpm_ini_cli }}"
  notify: Restart php-fpm
