SECRET_KEY={{ recipes_secret_key }}
TZ={{ recipes_timezone }}

DB_ENGINE={{ recipes_db_engine }}
POSTGRES_HOST={{ recipes_db_host }}
POSTGRES_DB={{ recipes_db_name }}
POSTGRES_PORT={{ recipes_db_port }}
POSTGRES_USER={{ recipes_db_user }}
POSTGRES_PASSWORD={{ recipes_db_password }}
