[Unit]
Description=%i rootless pod (podman-compose)

[Service]
Type=simple
WorkingDirectory=/opt/recipes
ExecStart=/usr/bin/podman-compose up
ExecStop=/usr/bin/podman-compose stop

[Install]
WantedBy=default.target