SECRET_KEY={{ vault_secrect_key }}
TZ=Europe/Berlin


DB_ENGINE=django.db.backends.postgresql
POSTGRES_HOST=db_recipes
POSTGRES_DB=djangodb
POSTGRES_PORT=5432
POSTGRES_USER=djangouser
POSTGRES_PASSWORD={{ vault_postgres_password }}