services:
  db_recipes:
    restart: always
    image: docker.io/postgres:16-alpine
    volumes:
      - ./postgresql:/var/lib/postgresql/data
      - ./pgbackup:/backups:ro
    env_file:
      - ./.env

  web_recipes:
    restart: always
    image: docker.io/vabene1111/recipes
    env_file:
      - ./.env
    ports:
      - "8080:80"
    volumes:
      - staticfiles:/opt/recipes/staticfiles
      - ./mediafiles:/opt/recipes/mediafiles
    depends_on:
      - db_recipes

  pgbackup:
    container_name: pgbackup
    env_file:
      - ./.env
    environment:
      BACKUP_KEEP_DAYS: "8"
      BACKUP_KEEP_MONTHS: "6"
      BACKUP_KEEP_WEEKS: "4"
      POSTGRES_EXTRA_OPTS: -Z6 --schema=public --blobs
      SCHEDULE: '@daily'
    # Note: the tag must match the version of postgres you are using
    image: docker.io/prodrigestivill/postgres-backup-local:16-alpine
    restart: unless-stopped
    volumes:
      - ./pgbackup:/backups
volumes:
  staticfiles:
