---
- name: Set Let's Encrypt as default CA in acme.sh
  become: true
  become_user: letsencrypt
  ansible.builtin.command:
    cmd: "~/.acme.sh/acme.sh --set-default-ca --server letsencrypt"
    changed_when: false
  tags: [acme]