---
- name: Configure nginx
  ansible.builtin.import_tasks: configure_nginx.yml
  tags: [ nginx ]

- name: Configure mariaDB and hardening
  ansible.builtin.import_tasks: configure_mariadb.yml
  tags: [ mariadb ]

- name: Configure PHP
  ansible.builtin.import_tasks: configure_php.yml

- name: Configure Firewall (UFW)
  ansible.builtin.import_tasks: firewall.yml
  tags: [ firewall ]
    
- name: Configure ACME and Let's Encrypt client defaults
  ansible.builtin.import_tasks: configure_lets_encrypt.yml
  tags: [ acme ]