- name: Ensure nginx snippets
  become: true
  ansible.builtin.file:
    path: /etc/nginx/snippets
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Deploy ssl config
  become: true
  ansible.builtin.copy:
    src: ssl.conf
    dest: /etc/nginx/snippets/ssl.conf
    owner: root
    group: root
    mode: '0755'
