- name: Default Deny everything and enable UFW
  community.general.ufw:
    state: enabled
    policy: deny
  
- name: "Allow Rules"
  community.general.ufw:
    comment: "{{ item.name }}"
    rule: allow
    to_port: "{{ item.port }}"
  loop:
    - { name: SSH, port: 22 }
    - { name: HTTP, port: 80 }
    - { name: HTTP, port: 443 }
  become: true