---
- name: Install base packages and services
  ansible.builtin.import_tasks: software_installation.yml
  tags: [ install ]

- name: Configure services and system
  ansible.builtin.import_tasks: configure_software.yml
  tags: [ config ]

- name: Prepare TLS and ACME prerequisites
  ansible.builtin.import_tasks: generated_tls.yml
  tags: [ tls ]