---
- name: Install packages
  ansible.builtin.import_tasks: packages.yml
  tags: [packages, install]

- name: Create system users
  ansible.builtin.import_tasks: users.yml
  tags: [users, install]

- name: Configure MariaDB
  ansible.builtin.import_tasks: mariadb/main.yml
  tags: [mariadb]

- name: Configure Nginx
  ansible.builtin.import_tasks: nginx/main.yml
  tags: [nginx]

- name: Configure PHP
  ansible.builtin.import_tasks: php/main.yml
  tags: [php]

- name: Configure Redis
  ansible.builtin.import_tasks: redis/main.yml
  tags: [redis]

- name: Configure Firewall
  ansible.builtin.import_tasks: firewall/main.yml
  tags: [firewall]

- name: Setup TLS certificates
  ansible.builtin.import_tasks: tls/main.yml
  tags: [tls]

- name: Install and configure Nextcloud
  ansible.builtin.import_tasks: nextcloud/main.yml
  tags: [nc]