- name: Install packages
  become: true
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
    update_cache: true
  loop:
    - "{{ basic_packages }}"
    - "{{ nextcloud_components }}"
    - "{{ redis_packages }}"
  tags: [ install, packages ]

- name: Ensure ACME user exists
  become: true
  ansible.builtin.user:
    name: "{{ acme_user }}"
    create_home: true
    shell: /bin/bash
    groups: www-data
    append: true
    password: ""
  tags: [ install, users]

- name: Allow ACME user to reload nginx without password
  become: true
  community.general.sudoers:
    name: "{{ acme_user }}-nginx-reload"
    user: "{{ acme_user }}"
    commands:
      - /bin/systemctl reload nginx.service
    nopassword: true
  tags: [ install, sudoers]

- name: Install acme.sh
  become_user: "{{ acme_user }}"
  ansible.builtin.command: 
    cmd: curl https://get.acme.sh | sh
    creates: "~/.acme.sh"
  tags: [ install, acme]

- name: Ensure required services are enabled and running
  become: true
  ansible.builtin.service:
    name: "{{ item }}"
    state: started
    enabled: true
  loop:
    - mariadb
    - nginx
    - "{{ php_fpm_service }}"
  tags: [ install, services ]

