- name: Ensure ACME user exists
  become: true
  ansible.builtin.user:
    name: "{{ acme_user }}"
    create_home: true
    shell: /bin/bash
    groups: www-data
    append: true
    password: ""

- name: Allow ACME user to reload nginx without password
  become: true
  community.general.sudoers:
    name: "{{ acme_user }}-nginx-reload"
    user: "{{ acme_user }}"
    commands:
      - /bin/systemctl reload nginx.service
    nopassword: true
