#SPDX-License-Identifier: MIT-0
---
# Web server settings
web_user: www-data
web_group: www-data

# php
php_fpm_service: "php{{ php_version }}-fpm"
php_fpm_pool_conf: "/etc/php/{{ php_version }}/fpm/pool.d/www.conf"
php_fpm_ini: "/etc/php/{{ php_version }}/fpm/php.ini"
php_cli_ini: "/etc/php/{{ php_version }}/cli/php.ini"

php_fpm_env_vars:
  - HOSTNAME
  - TMP
  - TMPDIR
  - TEMP
  - PATH

php_fpm_ini_settings:
  - { regexp: '^;?cgi\.fix_pathinfo\s*=.*', line: 'cgi.fix_pathinfo=0' }
  - { regexp: '^memory_limit\s*=.*', line: 'memory_limit = 512M' }
  - { regexp: '^;?opcache\.enable\s*=.*', line: 'opcache.enable=1' }
  - { regexp: '^;?opcache\.enable_cli\s*=.*', line: 'opcache.enable_cli=1' }
  - { regexp: '^;?opcache\.memory_consumption\s*=.*', line: 'opcache.memory_consumption=128' }
  - { regexp: '^;?opcache\.interned_strings_buffer\s*=.*', line: 'opcache.interned_strings_buffer=32' }
  - { regexp: '^;?opcache\.max_accelerated_files\s*=.*', line: 'opcache.max_accelerated_files=10000' }
  - { regexp: '^;?opcache\.revalidate_freq\s*=.*', line: 'opcache.revalidate_freq=60' }
  - { regexp: '^;?opcache\.save_comments\s*=.*', line: 'opcache.save_comments=1' }

php_fpm_ini_cli:
  - { regexp: '^;?cgi\.fix_pathinfo\s*=.*', line: 'cgi.fix_pathinfo=0' }
  - { regexp: '^apc\.enable_cli\s*=.*',     line: 'apc.enable_cli=1' }

# ACME/TLS settings
acme_user: letsencrypt
acme_webroot: /var/www/letsencrypt
tls_base_dir: "/etc/letsencrypt/{{ domain }}"

# Firewall rules
ufw_allow_rules:
  - { port: "22", name: "SSH" }
  - { port: "80", name: "HTTP" }
  - { port: "443", name: "HTTPS" }

# MariaDB settings
mariadb_socket: /run/mysqld/mysqld.sock
