---
- name: Create volume group with devices
  become: true
  community.general.lvg:
    vg: "{{ item.vg_name }}"
    pvs: "{{ item.device }}"
    pvresize: true

- name: Create logical volume
  become: true
  community.general.lvol:
    vg: "{{ item.vg_name }}"
    lv: opt
    size: "1500G"
    state: present
    resizefs: false    

- name: Create filesystem on LV
  become: true
  ansible.builtin.filesystem:
    fstype: "ext4"
    dev: "/dev/lvm-opt/opt"   

- name: Mount filesystem
  become: true
  ansible.posix.mount:
    path: "/opt"
    src: "/dev/lvm-opt/opt"
    state: mounted
    fstype: "ext4"
    opts: "defaults"
