#SPDX-License-Identifier: MIT-0
---
- name: Test nginx configuration
  become: true
  ansible.builtin.command: nginx -t
  changed_when: false
  listen: Reload nginx
  
- name: Reload nginx
  become: true
  ansible.builtin.service:
    name: nginx
    state: reloaded  
  listen: Reload nginx

- name: Reload mariadb
  become: true
  ansible.builtin.service:
    name: mariadb
    state: reloaded

- name: Restart php-fpm
  become: true
  ansible.builtin.service:
    name: "{{ php_fpm_service }}"
    state: restarted

- name: restart redis
  ansible.builtin.service:
    name: redis-server
    state: restarted